.section-features {
    background-color: $color-white;
    padding: 10rem 0;
}

.section-about {
    background-color: #F9F9F9;
    padding: 14rem 0 8rem 0;
}

.section-testimonials {
    background-color: $color-white;
    padding: 10rem 0;
}